sudo: false
language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"
install: pip install tox-travis codecov
script: tox
after_success: codecov
deploy:
    provider: pypi
    user: "__token__"
    password: $PYPI_TOKEN
    on:
        tags: true
        branch: master
